
@{
    ViewData["Title"] = "AdminHome";
}

<h1>AdminHome</h1>

<a asp-action="Index">View all users</a>
<br />
<a asp-controller="Booking" asp-action="Index">View all bookings</a>
<br />
<a asp-controller="Flight" asp-action="Index">Manage flights</a>
<br />
<a asp-action="Logout">Logout</a>